body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.navbarbutton {
  color: white;
  background-color: black;
}

.main-container{
  margin-top: 60px;
}

.container{
  float: left;
  background-color: #FFDEC0;
  width: 100%;
}
